
body {
  background-image: url("FabricPartyByTwitter.jpg");
  background-color: #C9B8F2;
  width: 320px;
  margin: 0 auto
  text: white; 
  /* this last line does nothing, but conveniently left-align the text. */
}